@page
@model MindMastery1.Views.Home.DespreNoiModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="~/css/Desprenoi.css">

    <title>Despre Noi</title>
</head>
<body>


    <div class="container">
        <div class="left-section">
            <h2 class="headline">Despre Noi</h2>
            <p class="paragraph"><p>Suntem studenți în anul 2 la <em>Universitatea Româno-Americană</em> și ne pasionează tehnologia. Am început acest proiect cu entuziasm și dedicare, dorind să aducem în fața voastră o platformă utilă și interesantă.</p>

            <p>Acest site este încă în lucru și se află în faza sa de început. Ne străduim să îl dezvoltăm și să îl îmbunătățim în fiecare zi. Chiar dacă încă nu este complet, suntem hotărâți să lucrăm din greu pentru a-l aduce la un nivel care să îndeplinească așteptările voastre și să fie o resursă valoroasă pentru comunitatea noastră.</p>

            <p>Vă asigurăm că vom continua să lucrăm la acest proiect și că, în curând, când totul va fi pregătit, vom publica acest site online pentru a fi accesibil tuturor.</p>

            <p>Vă mulțumim pentru răbdare și pentru că sunteți alături de noi în această călătorie!</p>
        </div>

        <div class="right-section">
            <img src="~/poze/sigla_ura_2d_plina_large.png" />
        </div>
    </div>


</body>
</html>