@{
    ViewData["Title"] = "Home Page";
}
<title>Pagina Principala</title>
<link rel="stylesheet" href="~/css/Home.css">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<br />
<br />



<div class="container">
    <div class="left-section">

        <p class="paragraph"><h1>Bine ai venit pe <em>Personalitate Plus</em>!</h1>

        <p>Descoperă-te pe tine însuți și pe cei din jurul tău cu ajutorul testelor noastre de personalitate, inspirate din înțelepciunea cărții "<strong>Personalitate Plus</strong>" de Florence Littauer.</p>

        <p>Fiecare individ este unic, iar personalitatea noastră joacă un rol crucial în modul în care ne percepem și interacționăm cu lumea din jurul nostru. Testele noastre te vor ajuta să înțelegi mai bine trăsăturile tale dominante și să îți descoperi potențialul neexploatat.</p>

        <h2>Ce poți aștepta de la <em>Personalitate Plus</em>:</h2>

        <ol>
            <li><strong>Teste de Personalitate Profesionale:</strong> Explorează diverse aspecte ale personalității tale, precum trăsăturile dominante, stilul de comunicare și modul în care iei decizii.</li>
            <li><strong>Analiză Detaliată:</strong> Primești rezultate detaliate și personalizate care îți vor oferi o înțelegere mai profundă a modului în care funcționezi în diferite situații și relații.</li>
            <li><strong>Înțelegere a Relațiilor:</strong> Descoperă cum să comunici mai eficient cu cei din jurul tău, înțelegând mai bine tipurile de personalitate și preferințele lor.</li>
            <li><strong>Resurse Educaționale:</strong> Accesează articole, ghiduri și sfaturi practice bazate pe principiile din "<em>Personalitate Plus</em>", pentru a-ți dezvolta abilitățile de comunicare și relaționare.</li>
        </ol>

        <p>Pregătește-te să faci un pas înainte în cunoașterea de sine și în relațiile tale interpersonale! Începe testarea acum și descoperă cine ești cu adevărat.</p></p>
    </div>

    <div class="right-section">

        <div id="slider">
            <div class="img.container">
                <img src="~/poze/imagini personalitate1.jpeg" />
            </div>

        </div>
    </div>
</div>