@page
@model MindMastery1.Views.Home.Rezultat2Model
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Rezultat2.css">
    <title>Coleric Puternic</title>
</head>
<body>

 

    <div class="container">
        <h1 class="headline">Să ne mobilizăm împreună cu colericul puternic</h1>
        <br />
        <p class="paragraph">
            O, ce mare nevoie are lumea de colerici puternici!
            Controlează ferm situația atunci când alții se pierd. Poate lua decizii în situații confuze confuze. Conducător iscusit care ne îndreaptă spre bine. Dorinţa de a-şi asuma riscul într-o situație incertă. Încrederea de a susţine adevărul în fața ridicolului. Independenţa şi poziţia categorică. Ne îndrumă pe „harta vieții când am pornit pe un drum greşit. Impulsul de „a ridica armele împotriva tuturor obstacolelor, de a lupta şi de a le doborî".
            Colericul puternic este acea persoană dinamică ce visează visul imposibil şi îşi propune să atingă steaua de neatins. El simte, ca Robert Browning, că „realizările unui om trebuie să depăşească aspirațiile lui, altfel pentru ce mai există raiul?". Colericul puternic îşi propune, reuşeşte şi are succes întotdeauna. La numai câteva ore după ce Reagan a depus jurământul, Haig i-a înmânat consilierului prezidențial Edwin Meese un memorandum, propunând o reorganizare a mecanismului de luare a deciziilor în politica externă.
            Aceasta l-ar fi făcut pe secretarul de stat cel mai important; acum două săptămâni Reagan a emis o hotărîre prin care îi dădea lui Haig cea mai mare parte, deşi nu toată, din puterea pe care o dorea.
            Mai repede decât orice alt membru al cabinetului, Haig a ales o echipă aproape completă de subordonaţi...
            Cuvintele specifice colericului puternic pot fi recunoscute aici: rapiditate, control, ordin, siguranţă de sine, voinţă de fier, dominare, hotărîre de a asuma responsabilități, delegare, reorganizare, meca- nism de luare a deciziilor, cel mai important, instrucţiune, putere, mai repede, îndeplinire.
            Pe măsură ce începeţi să înţelegeţi temperamentele și să le aplicați în viaţa de zi cu zi, chiar lectura revistei Time va fi mai distractivă şi abilitatea voastră de a-i înţelege pe alţii şi de a le prevedea reacţiie se va dezvolta rapid.
            Un articol despre Margaret Thatcher, fost prim ministru al Angliei, utilizează, de asemenea, mulţi termeni specifici colericului puternic: remarcat, dominant, talentat, capabil, maiestuos, decisiv, intens competitiv, mai puternic, mai direct, provocat, tactici agre- sive, teribil, iritat de sugestii. Chiar şi numai extrăgând aceste cuvin- te, e uşor să vezi că este un lider coleric puternic. I s-a spus să „se îmbrace sobru, în culori puternice şi să vorbească persuasiv". Avem
            de-a face cu o femeie dinamică, iradiind încredere şi control. În timp ce sangvinicul popular vorbeşte şi melancolicul perfect
            gândeşte, colericul puternic izbândeşte. Este temperamentul cel mai uşor de înțeles și cu care te împaci de minune, atât timp cât trăieşti după regula sa de aur: „Fă aşa cum spun eu, ACUM!"
            Colericii puternici seamănă cu sangvinicii populari, ambii fiind expansivi şi optimişti. Colericul puternic poate comunica deschis cu oamenii şi ştie că totul se va rezolva cu bine dacă el se ocupă de rezolvarea problemei. Obţine mai multe realizări decât alte temperamente și te anunţă clar care este poziția lui. Pentru că este orientat spre scop şi are calități înnăscute de conducător, de obicei ajunge în vârf, indiferent de cariera pe care o alege.
            Majoritatea liderilor noştri politici sunt la bază colerici puternici.
            La începutul anilor optzeci, am avut două exemple excelente, un bărbat şi o femeie: secretarul de stat Alexander Haig şi prim-ministrul britanic Margaret Thatcher. În editorialul din revista Time (16 martie, 1981) intitulat "«Vicarul>» preia comanda", George J. Church scria:
            Rareori un secretar de stat nou s-a mobilizat atât de rapid pentru a prelua controlul politicii externe, aşa cum a făcut-o Alexander Meigs Haig, Jr., 56 de ani - fost şef al personalului la Casa Albă în zilele tulburi al Watergate-ului, fost comandant NATO, soldat-birocrat-diplomat a cărui siguranţă de sine este egalată numai de voinţa sa de fier.
            Iată ce spunea senatorul liberal democrat Paul Tsongas din Massachusettsîn ianuarie, către sfârşitul audierii de confirmare a lui Haig: „Îşi va folosi talentul pentru a-şi domina admi- nistrația".
            Dacă nu, cu greu se va putea vorbi de lipsă despre lipsă de
            încercare. În decembrie, la scurt timp după ce Reagan i-a
            anunţat nominalizarea, Haig şi-a subliniat hotărîrea de a prelua
            sarcinile prin concedierea membrilor echipei de tranziţie care
            studiase politica externă; a trimis rapoartele neinspirate ale
            acestei echipe la un distrugător de documente.
        </p>
             <img src="~/poze/leadership-1024x576.jpg" />
    </div>
</body>
</html>
