@page
@model MindMastery1.Views.Home.Rezultat4Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Rezultat4.css">
    <title>Sangvinic Popolar</title>
    <br />
</head>
<body>
    <div class="container">
        <h1 class="headline">Sangvinic Popular</h1>
        <p class="paragraph">
            O, ce mare nevoie are lumea de sangvinicii populari!Bucuria în vremuri cu supărări.
            Atingerea inocenţei într-o perioadă istovitoare.
            Cuvântul înţelepciunii când greutăți ne apasă.
            Umorul când avem inima încărcată.
            Raza speranţei care ne alungă norii negri.
            Entuziasmul şi energia de a o lua mereu de la capăt. Creativitatea şi farmecul de a colora o zi plictisitoare.
            Simplitatea unui copil în situații complexe.
            Sangvinicul popular este undeva, departe, legănându-se pe o stea, aducând acasă raze de lună într-o carafă. Sangvinicul popular adoră poveştile vieţii şi îşi dorește să trăiască fericit până la adânci bătrâneţi.
            Sangvinicii populari tipici sunt emoționali şi expansivi, transformă munca în distracție și le face plăcere să fie înconjurați de oameni. Sangvinicii populari văd emoție în fiecare experienţă şi retrăiesc savoarea fiecărei ocazii în descrieri pline de culoare. Sangvinicii populari sunt orientați spre exterior şi optimişti.
            Intr-o zi , pe cand mergeam pe strada cu fiul meu, Fred, un melancolic perfect, am observat că pe marginea şoselei erau margarete albe şi strălucitoare. „Uită-te la florile acelea frumoase!", am exclamat. Când şi-a întors privirea, ochii lui Fred au căzut pe o buruiană mare, şi a oftat: „Da, dar uită-te la buruiana aceea". S-a gândit un minut şi apoi a întrebat: „De ce vezi tu întot- deauna florile, iar eu văd întotdeauna buruienile?". Temperamentul sangvinicului popular vede florile. Sangvinicii populari se aşteaptă întotdeauna la ce este mai bun..
        </p>
         <img src="~/poze/firefly.png" />
    </div>

</body>
</html>
