@page
@model MindMastery1.Views.Home.RezultatModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Rezultat.css">
    <title>Melancolic Perfect</title>
</head>
<body>
    

    <div class="container">
        <h1 class="headline">Să ne organizăm împreună cu melancolicul perfect</h1>
        <br />
        <p class="paragraph">
            O, ce mare nevoie are lumea de melancolici perfecţi!
            Profunzimea de a vedea viața aşa cum este. Firea artistică de a aprecia frumuseţea lumii. Talentul de a crea o operă de artă acolo unde nu exista nimic înainte.
            Capacitatea de a analiza și de a ajunge la soluția potrivită. Ochiul pentru detaliu când alții fac ceva de slabă calitate. Scopul: să termine ceea ce au început. Promisiunea: „Dacă ceva merită să fie făcut, atunci merită să fie făcut bine".
            Dorinţa de a face toate lucrurile cu decenţă şi în ordine".
            Înainte de a înţelege temperamentele nu îi apreciam pe cei care nu erau ca mine. Eu voiam să iau viaţa în joacă şi să mă distrez, şi eram prea preocupată de mine însămi pentru a-mi da seama de deficiențele mele sau pentru a dori ajutor. Din momentul în care am început să mă autoanalizez, am început să văd că deşi eram o persoană îndrăzneață, nu aveam destulă energie să merg până la capăt. Am început să apreciez profunzimea lui Fred, sensibilitatea sa, capacitatea de organizare, listele sale. Am început să văd nevoia unui adevărat tovarăş de viață ca Fred şi a unor prieteni melancolici perfecți care puteau să vadă dincolo de suprafață.
            Chiar ca bebeluş, melancolicul perfect pare să gândească profund. El este liniştit, nu cere nimic şi îi place să fie singur. İşi va urma programul chiar de la început și va răspunde cel mai bine unui părinte care este bine organizat. Zgomotul şi confuzia îl vor enerva şi nu se va adapta prea bine dacă va fi târît prin diferite locuri şi i se va deregla ordinea stabilită.
            Când l-am adoptat pe fiul nostru, Fred, nu ştiam nimic despre temperamente şi nu i-am recunoscut firea de melancolic perfect. Asistentul social ne-a spus că era un copil serios, care niciodată nu zâmbea, iar la trei luni părea că îi analizează pe toți cei care treceau pe lângă el. Aceste trăsături au fost constante în viaţa lui. Ca adolescent, era serios şi de încredere şi de multe ori era iritat de atitudinea veselă a Maritei. El nu vede viaţa ca fiind foarte distractivă şi găseşte că este imposibil să zâmbeşti dimineața. Încă este introspectiv şi analitic și conviețuirea într-o familie de extravertiți puternici nu i-a schimbat modelul de temperament.
            Ca adulţi, melancolicii perfecți sunt gânditorii. Sunt oameni care îşi propun un țel cu seriozitate, dedicați ordinii şi organizării şi apreciază frumuseţea şi inteligenţa. Nu caută să se amuze, ci analizează cel mai bun plan pentru viața lor. Fără melancolicii perfecți am avea parte de mai puțină poezie, artă, literatură, filosofie sau simfonii. Ne-ar lipsi cultura, rafinamentul, gustul şi talentul din adâncul firilor noastre. Am avea mai puțini ingineri, inventatori, oameni de ştiinţă; registrele noastre contabile ar fi pierdute, iar bilanţurile noastre nu s-ar mai echilibra.
            Melancolicii perfecți sunt sufletul, mintea, spiritul, inima umanității. O, ce mare nevoie are lumea de melancolici perfecți!
            .
        </p>
        <img src="d:\facultate\anu ii\sscs c#\mindmastery1\mindmastery1\wwwroot\poze\9k.png" />
    </div>

</body>
</html>w
