@page
@model MindMastery1.Views.Home.Rezultat3Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Rezultat3.css">
    <title>Flegmatic Linistit</title>
</head>
<body>


    <div class="container">
        <h1 class="headline">Să ne relaxăm împreună cu flegmaticul liniştit</h1>
        <br />
        <p class="paragraph">
            O, ce mare nevoie are lumea de flegmatici liniştiţi!
            Statornicia: să mergi mai departe.
            Răbdarea: să rezişti provocărilor.
            Talentul de a-i asculta pe ceilalți, orice au de spus.
            Darul medierii: să poți uni forţele opuse.
            Scopul: susţinerea păcii, cu orice pret.
            Compasiunea: să-i alini pe cei ce suferă.
            Hotărîrea de a-ți păstra capul pe umeri când ceilalţi şi-l pierd. Voinţa de a trăi astfel încât nici măcar duşmanii să nu poată găsi ceva rău de spus.
            Înţelegerea personalităților este primul pas în înţelegerea oamenilor. Dacă nu putem să vedem deosebirile înăscute ale celorlaţi şi să îi acceptăm aşa cum sunt, vom considera că aceia care nu sunt ca noi sunt cel puţin uşor anormali.
            Când înţelegem temperamentele, începem să înţelegem de ce se atrag contrariile. Înţelegem că într-o familie în care există o varietate de trăsături temperamentale, acest lucru dă naştere la o mai mare varietate de activități și interese. Dumnezeu nu a intenționat să ne facă pe toţi sangvinici populari. Ne-am fi distrat de minune, dar nu am fi fost deloc organizaţi. Dumnezeu nu ne-a făcut pe toți lideri colerici puternici. Dacă ar fi făcut-o, nu ar mai fi rămas nimeni să ne urmeze.
            Dumnezeu nu ne-a vrut pe toți melancolici perfecţi, pentru că atunci când lucrurile ar merge prost, am fi cu toții deprimaţi.
            Dumnezeu a creat flegmaticii liniştiţi: nişte oameni deosebiţi, pe post de amortizori ai emoţiilor celorlalte trei categorii, pentru a oferi stabilitate şi echilibru.
            Flegmaticul liniştit domoleşte proiectele periculoase ale sangvi- nicului popular. Flegmaticul liniştit refuză să se lase prea impresionat de deciziile strălucite ale colericului puternic. Flegmaticul liniştit nu ia prea în serios planurile laborioase ale melancolicului per- fect. Flegmaticul liniştit este marele moderator al nostru, arătându-ne că „Nu contează chiar aşa de mult". Și până la urmă chiar nu contează! Suntem cu toţii părţi ale unui plan complex în care fiecare tem- perament, atunci când funcționează corect, se va potrivi la locul lui şi, unindu-se cu celelalte, va forma o imagine interesantă şi echilibrată.
        </p>
        <img src="~/poze/citate-zen.jpg" />
    </div>
</body>
</html>